{{define "subject"}}Finish Registration with Simple Social{{end}}
{{define "body"}}
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Hi {{.Name}},</p>
	<p>Thank you for registering with Simple Social. Please click the link below to complete your registration.</p>
	<p><a href="{{.ActivationURL}}">Complete Registration</a></p>
</body>
</html>
{{end}}